# the android32 runtime and the Mesa build: links while developing
/runtime
/portlibs32
/build
/SD_CARD
/SD_CARD.zip
*.nsp
*.elf
*.build
/launcher/build
/launcher/romfs
/launcher/*.nro
/launcher/*.nacp
/launcher/*.elf
*.apk
